<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="assets/images/profil.png" class="rounded-circle" alt="image-utilisateur">
          </div>
        </div>
        <h2 class="text-center">Nom et prénom</h2>
        <div class="text-center">
          <em>Tél: 65 21 44 15</em>
        </div>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center gap-2">
            <button class="btn btn-warning" type="button">
              <i class="fa-solid fa-pencil"></i>&nbsp;
              Modifier
            </button>
            <button class="btn btn-info" type="button" (click)="modifierMotDePasse()">
              <i class="fa-solid fa-lock"></i>&nbsp;
              Changer mot de passe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Nom et prénom:</td>
              <td>Pierre Maurand OVASSA</td>
            </tr>
            <tr>
              <td>Sexe:</td>
              <td>MASCULIN</td>
            </tr>
            <tr>
              <td>Login:</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>Téléphone:</td>
              <td>65 21 44 15</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>pierremaurand.gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
