<div class="card page">
  <div class="card-body page-body">
    <div class="page-header">
      <div class="row">
        <div class="col-md-8">
          <h1 class="h3">Liste des articles</h1>
        </div>
        <div class="col-md-4">
          <app-bouttons-action
            (clickEvent)="nouvelArticle()"
          ></app-bouttons-action>
        </div>
      </div>
    </div>
    <div class="page-content">
      <app-details-article
        *ngFor="let article of articleResponse.content"
        [article]="article"
      ></app-details-article>
    </div>
    <div class="page-footer">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
