<div class="d-flex flex-column gap-1">
  <div class="page-header d-flex flex-row">
    <div class="title">
      <h1>Liste des articles</h1>
    </div>
    <div class="actions text-end">
      <app-bouttons-action></app-bouttons-action>
    </div>
  </div>
  <div class="page-content">
    <app-details-article></app-details-article>
    <app-details-article></app-details-article>
    <app-details-article></app-details-article>
    <app-details-article></app-details-article>
    <app-details-article></app-details-article>
  </div>
  <div class="page-pagination">
    <app-pagination></app-pagination>
  </div>
</div>
