<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Les articles</h1>
  <div class="d-flex justity-content-center align-items-center">
    <app-bouttons-action (clickEvent)="nouvelArticle()"></app-bouttons-action>
  </div>
</div>

<div class="page-content row">
  <div class="col-md-3 mb-3" *ngFor="let article of articleResponse.content">
    <app-ligne-article
      [article]="article"
      (edit)="edit($event)"
      (delete)="delete($event)"
      (details)="details($event)"
    ></app-ligne-article>
  </div>
</div>
<div
  *ngIf="articleResponse.totalPages && articleResponse.totalPages > 1"
  class="mt-3 d-flex justify-content-center align-items-center"
>
  <app-pagination
    [page]="page"
    [pages]="pages"
    [totalPages]="articleResponse.totalPages"
    (goToPageEvent)="goToPage($event)"
  ></app-pagination>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="suppressionArticle"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Article</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Etes vous sur de vouloir supprimer cet article?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fa-solid fa-ban"></i>&nbsp;Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="onDelete()"
        >
          <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
