<div class="page card">
  <div class="card-body">
      <div class="row mb-1">
        <div class="col-md-3 image">
          <img
            src="assets/images/product.png"
            class="rounded-circle"
            alt="image-article"
          />
        </div>
      </div>
      <h3>
        <i class="fa-solid fa-circle-info text-primary"></i>&nbsp;
        Informations de l'article
      </h3>
      <hr />
      <div class="row mb-2">
        <div class="col-md-6 mb-2">
          <input
            type="text"
            class="form-control"
            name="code"
            id="code"
            placeholder="Code article"
          />
        </div>
        <div class="col-md-6 mb-2">
          <input
            type="text"
            class="form-control"
            name="designation"
            id="designation"
            placeholder="Désignation"
          />
        </div>
        <div class="col-md-6 mb-2">
          <input
            type="text"
            class="form-control"
            name="prixUnitaireHt"
            id="prixUnitaireHt"
            placeholder="Prix unitaire HT"
          />
        </div>
        <div class="col-md-6 mb-2">
          <input
            type="text"
            class="form-control"
            name="tauxTva"
            id="tauxTva"
            placeholder="Taux TVA"
          />
        </div>
        <div class="col-md-6 mb-2">
          <input
            type="text"
            class="form-control"
            name="prixUnitaireTtc"
            id="prixUnitaireTtc"
            placeholder="Prix unitaire TTC"
          />
        </div>
        <div class="col-md-6 mb-2">
          <select
            name="categorie"
            id="catégorie"
            class="form-select"
            title="categorie"
          >
            <option value="">Choisir une catégorie</option>
            <option value="1">CAT001</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col text-end">
          <button
            type="button"
            class="btn btn-danger me-2"
            (click)="onCancel()"
          >
            <i class="fa-solid fa-ban"></i>&nbsp; Annuler
          </button>
          <button type="button" class="btn btn-primary">
            <i class="fa-solid fa-floppy-disk"></i>&nbsp; Enregistrer
          </button>
        </div>
      </div>
    </div>
</div>
