<div class="card mb-2">
  <div class="card-body">
    <div class="row">
       <!-- Image -->
      <div class="col-md-2 border-right text-center">
        <img src="assets/images/product.png" alt="images-article" />
      </div>
      <!-- Infos Article -->
      <div class="col-md-4 border-right">
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
          <div class="col-md-11">CAT0001:</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
          <div class="col-md-11">Désignation:</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
          <div class="col-md-11">11111111:</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
          <div class="col-md-11">11111</div>
        </div>
      </div>
      <!-- Infos catégorie -->
      <div class="col-md-3 border-right">
        <div class="row">
          <div class="col-md-4">
            <i class="fa-solid fa-flag-checkered text-primary fs-2"></i>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col">
                Code catégorie
              </div>
            </div>
            <div class="row">
              <div class="col">
                Description catégorie
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Bouttons d'actions -->
      <div class="col-md-3">
        <div class="row actions">
          <div class="col-md-4">
            <button type="button" class="btn btn-link text-warning"><i class="fa-solid fa-pencil"></i>Modifier</button>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-lin text-danger"><i class="fa-solid fa-trash-can"></i>Supprimer</button>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-link text-primary"><i class="fa-solid fa-table-list"></i>Détails</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
