.image{
  width: 14%;
  overflow: hidden;
}

.image img {
  width: 100%;
}

.infos{
  width: 29%;
}

.categorie{
  width: 29%;
  display: flex;
  align-items: center;
}

.actions{
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
}
