<div class="card mb-1">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 border-end border-2 text-center">{{ligneCommande.article?.code}}</div>
      <div class="col-md-3 border-end border-2 text-center">{{ligneCommande.article?.designation}}</div>
      <div class="col-md-2 border-end border-2 text-center">{{ligneCommande.quantite}}</div>
      <div class="col-md-2 border-end border-2 text-center">{{ligneCommande.prixUnitaire}}</div>
      <div class="col-md-2 text-center">{{prixTotal}}</div>
    </div>
  </div>
</div>
