<div class="card mb-1">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2 text-center border-right">
        <i class="fa-solid fa-calendar-days"></i>&nbsp;
        12/12/2025
      </div>
      <div class="col-md-3 text-center text-danger border-right">19</div>
      <div class="col-md-3 text-center text-danger border-right">
        <i class="fa-solid fa-square-minus"></i>&nbsp;
        SORTIE
      </div>
      <div class="col-md-4 text-center">
        <i class="fa-solid fa-user"></i>&nbsp;
        COMMANDE CLIENT
      </div>
    </div>
  </div>
</div>
