<div class="card">
  <div class="card-body">
    <div class="d-flex flex-column">
      <h4 class="text-center mt-3 mb-3">Gestion de Stock V2.0</h4>
      <div class="accordion" id="accordionMenu">
        <div class="accordion-item" *ngFor="let menu of menuProperties">
          <h2 class="accordion-header" id="menu{{ menu.id }}">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + menu.id"
              aria-expanded="false"
              [attr.aria-controls]="'collapse' + menu.id"
            >
              <i class="{{ menu.icon }}"></i>&nbsp;{{ menu.titre }}
            </button>
          </h2>
          <div
            id="collapse{{ menu.id }}"
            class="accordion-collapse collapse"
            [attr.aria-labelledby]="'menu' + menu.id"
            data-bs-parent="#accordionMenu"
          >
            <ul class="list-group">
              <li
                class="list-group-item"
                *ngFor="let sousMenu of menu.sousMenu"
                [ngClass]="{'text-white bg-primary': sousMenu.active, '': !sousMenu.active}"
              >
                <a href="javascript:void(0)" (click)="navigate(sousMenu)" style="color: inherit;">
                  <i class="{{ sousMenu.icon }}"></i>&nbsp;{{ sousMenu.titre }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
