<div class="actions">
  <button
    type="button"
    class="btn btn-warning btn-sm"
    *ngIf="isImporterVisible"
    [ngClass]="{'me-2': isExporterVisible, '': !isExporterVisible}"
  >
    <i class="fa-solid fa-cloud-arrow-up"></i>&nbsp; Importer
  </button>
  <button
    type="button"
    class="btn btn-success btn-sm"
    *ngIf="isExporterVisible"
    [ngClass]="{'me-2': isImporterVisible, '': !isImporterVisible}"
  >
    <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp; Exporter
  </button>
  <button
    type="button"
    class="btn btn-primary btn-sm"
    (click)="bouttonNouveauClick()"
    *ngIf="isNouveauVisible"
  >
    <i class="fa-solid fa-plus"></i>&nbsp; Nouveau
  </button>
</div>
