<main class="form-signin w-100 m-auto">
  <div class="text-center">
    <img
      class="mb-4"
      src="../assets/brand/bootstrap-logo.svg"
      alt=""
      width="72"
      height="57"
    />
    <h1 class="h3 mb-3 fw-normal text-center">S'authentifier</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Non d'utilisateur"
        [(ngModel)]="authRequest.login"
      />
      <label for="floatingInput">Nom d'utilisateur</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Mot de passe"
        [(ngModel)]="authRequest.motDePasse"
      />
      <label for="floatingPassword">Mot de passe</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="button" (click)="login()">
      <i class="fa-solid fa-check"></i>&nbsp;Se connecter
    </button>
    <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2017–2024</p>
  </div>
</main>
