// main page
.menu{
  width: 20vw;
}

.page{
  width: 77vw;
  height: 96vh;
}
//Page
.page-header, .page-footer{
  width: 100%;
  height: 10vh;
  overflow: hidden;
}

.page-content{
  height: 76vh;
  overflow: hidden;
}


