<div class="row mb-3">
  <div class="col-md-12">
    <img
      src="assets/images/profil.png"
      class="rounded-circle"
      alt="image-article"
    />
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h3 class="card-title mb-3">
      <i class="fa-solid fa-circle-info blue-color"></i>&nbsp;Informations du
      {{origin}}
    </h3>
    <div class="row">
      <div class="col-md-6 mb-2">
        <input
          type="text"
          class="form-control"
          name="nom"
          id="nom"
          placeholder="Nom"
        />
      </div>
      <div class="col-md-6 mb-2">
        <select name="sexe" id="sexe" class="form-select" title="sexe">
          <option value="">Choisir un sexe</option>
          <option value="1">Masculin</option>
          <option value="2">Féminin</option>
        </select>
      </div>
      <div class="col-md-6 mb-2">
        <input
          type="text"
          class="form-control"
          name="nomeroTel"
          id="numeroTel"
          placeholder="Numéro de téléphone"
        />
      </div>
      <div class="col-md-6 mb-2">
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="Email"
        />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-end">
    <button type="button" class="btn btn-danger me-2" (click)="onCancel()">
      <i class="fa-solid fa-ban"></i>&nbsp; Annuler
    </button>
    <button type="button" class="btn btn-primary">
      <i class="fa-solid fa-floppy-disk"></i>&nbsp; Enregistrer
    </button>
  </div>
</div>
