<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Les commandes clients</h1>
  <div class="d-flex justity-content-center align-items-center">
    <app-bouttons-action
      (clickEvent)="nouvelleCommande()"
    ></app-bouttons-action>
  </div>
</div>

<div class="accordion page-content" id="accordionCommande">
  <div class="accordion-item" *ngFor="let commande of commandeResponse.content">
    <app-ligne-commande-client [commande] = 'commande'></app-ligne-commande-client>
  </div>
</div>

<div
  *ngIf="commandeResponse.totalPages && commandeResponse.totalPages > 1"
  class="mt-3 d-flex justify-content-center align-items-center"
>
  <app-pagination
    [page]="page"
    [pages]="pages"
    [totalPages]="commandeResponse.totalPages"
    (goToPageEvent)="goToPage($event)"
  ></app-pagination>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Correction de stock</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 text-center">
            <i class="fa-brands fa-stack-overflow fs-1 text-primary"></i>
          </div>
          <div class="col-md-9">
            <form>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="quantite"
                  placeholder="Quantité"
                />
              </div>
              <div class="mb-3">
                <select
                  name="typeMouvement"
                  id="typeMouvement"
                  class="form-select"
                >
                  <option value="">Choisir le type de correction</option>
                  <option value="1">CORRECTION POSITIVE</option>
                  <option value="2">CORRECTION NEGATIVE</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          <i class="fa-solid fa-ban"></i>&nbsp; Annuler
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-floppy-disk"></i>&nbsp; Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>
