<div class="card accordion-item mb-1">
  <div class="card-body accordion-header" id="headingOne">
    <div class="row">
      <div class="image border-2 border-end">
        <img src="assets/images/product.png" alt="images-article" />
      </div>
      <div class="infos border-2 border-end">
        <div class="row">
          <div class="col-md-1">
            <i class="fa-solid fa-circle-info text-primary"></i>
          </div>
          <div class="col-md-11">CAT0001:</div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <i class="fa-solid fa-circle-info text-primary"></i>
          </div>
          <div class="col-md-11">Désignation:</div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <i class="fa-solid fa-dollar-sign text-primary"></i>
          </div>
          <div class="col-md-11">11111111:</div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <i class="fa-solid fa-dollar-sign text-primary"></i>
          </div>
          <div class="col-md-11">11111</div>
        </div>
      </div>
      <div class="categorie border-2 border-end">
        <div class="row">
          <div class="col-md-2 align-times-center">
            <i class="fa-brands fa-dropbox text-primary"></i>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col">
                <h3 class="h4 text-center">Stock actuel</h3>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="text-center">139</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-link btn-sm text-primary">
              <i class="fa-brands fa-stack-overflow"></i>&nbsp; Correction de
              stock
            </button>
          </div>
          <div class="col-md-6">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              attr-aria-expanded="true"
              attr-aria-controls="collapseOne"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="collapseOne"
    class="accordion-collapse collapse"
    aria-labelledby="headingOne"
    data-bs-parent="#accordionExample"
  >
    <div class="accordion-body">
      <app-details-mouvement-stock></app-details-mouvement-stock>
      <app-details-mouvement-stock></app-details-mouvement-stock>
      <app-details-mouvement-stock></app-details-mouvement-stock>
      <app-details-mouvement-stock></app-details-mouvement-stock>
    </div>
  </div>
</div>
