<div class="card accordion-item">
  <div class="card-body accordion-header" id="headingOne">
      <div class="row">
        <!-- Image -->
        <div class="col-md-2 border-right text-center">
          <img src="assets/images/profil.png" alt="images-article" />
        </div>
        <!-- Infos Article -->
        <div class="col-md-4 border-right">
          <div class="row">
            <div class="col-md-1">
              <i class="fa-solid fa-circle-info blue-color"></i>
            </div>
            <div class="col-md-11">Nom</div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <i class="fa-solid fa-circle-info blue-color"></i>
            </div>
            <div class="col-md-11">Sexe</div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <i class="fa-solid fa-square-phone blue-color"></i>
            </div>
            <div class="col-md-11">65 21 44 15</div>
          </div>
        </div>
        <!-- Infos catégorie -->
        <div class="col-md-3 border-right">
          <div class="row">
            <div class="col-md-1">
              <i class="fa-solid fa-qrcode text-primary"></i>
            </div>
            <div class="col-md-11">CMD-11212131</div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <i class="fa-solid fa-calendar-check text-primary"></i>
            </div>
            <div class="col-md-11">12.12.2025</div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <i class="fa-solid fa-cart-arrow-down text-primary"></i>
            </div>
            <div class="col-md-11">LIVREE</div>
          </div>
        </div>
        <!-- Bouttons d'actions -->
        <div class="col-md-3">
          <div class="row actions">
            <div class="col-md-4">
              <button
                type="button"
                class="btn btn-link text-warning"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <i class="fa-solid fa-pencil"></i>
                Modifier
              </button>
            </div>
            <div class="col-md-4">
              <button
                type="button"
                class="btn btn-link text-danger"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <i class="fa-solid fa-trash-can"></i>
                Supprimer
              </button>
            </div>
            <div class="col-md-4">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                [attr.aria-expanded]="'true'"
                [attr.aria-controls]="'collapseOne'"
              ></button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div
    id="collapseOne"
    class="accordion-collapse collapse"
    aria-labelledby="headingOne"
    data-bs-parent="#accordionExample"
  >
    <div class="accordion-body">
      <app-details-ligne-commande-client-fournisseur></app-details-ligne-commande-client-fournisseur>
      <app-details-ligne-commande-client-fournisseur></app-details-ligne-commande-client-fournisseur>
      <app-details-ligne-commande-client-fournisseur></app-details-ligne-commande-client-fournisseur>
      <app-details-ligne-commande-client-fournisseur></app-details-ligne-commande-client-fournisseur>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-6 text-start h5">12 article commandés</div>
      <div class="col-md-6 text-end h5">Total commande: 122.44</div>
    </div>
  </div>
</div>
