<div class="d-flex flex-column gap-1">
  <div class="row page-header">
    <div class="col-md-7 title">
      <h1 class="h2">Liste des catégories</h1>
    </div>
    <div class="col-md-5 actions text-end">
      <app-bouttons-action (clickEvent)="nouvelleCategorie()"></app-bouttons-action>
    </div>
  </div>
  <div class="page-content">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 border-2 border-end">Code catégorie</div>
          <div class="col-md-8">Description</div>
        </div>
      </div>
    </div>

  </div>
  <div class="page-pagination">
    <app-pagination></app-pagination>
  </div>
</div>
