<div class="card shadow">
  <div class="card-body overflow-auto">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1">
      {{ categorie.code }}
    </h5>
    <h6 class="card-subtitle fs-6 text-secondary mb-1">
      {{ categorie.designation }}
    </h6>
  </div>
  <div
    class="card-footer d-flex gap-2 justify-content-between align-items-center"
  >
    <div class="d-flex gap-2">
      <span class="fw-bold">
        <i class="fa-solid fa-boxes-stacked"></i>&nbsp;
        {{ categorie.totalArticles }}
      </span>
    </div>
    <div class="d-flex gap-2">
      <button (click)="onEdit()" type="button" class="btn btn-warning btn-sm">
        <i class="fa-solid fa-pencil"></i>
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#suppressionCategorie"
        (click)="onDelete()"
      >
        <i class="fa-solid fa-trash-can"></i>
      </button>
      <button
        (click)="onDetails()"
        type="button"
        class="btn btn-primary btn-sm"
      >
        <i class="fa-solid fa-table-list"></i>
      </button>
    </div>
  </div>
</div>
