<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Les utilisateurs</h1>
  <div class="d-flex justify-content-center align-items-center">
    <app-bouttons-action
      (clickEvent)="nouveauUtilisateur()"
    ></app-bouttons-action>
  </div>
</div>

<div class="page-content">
  <app-ligne-utilisateur
    *ngFor="let utilisateur of utilisateurResponse.content"
    [utilisateur]="utilisateur"
    (delete)="onDelete($event)"
    (details)="onDetails($event)"
    (edit)="onEdit($event)"
  ></app-ligne-utilisateur>
</div>
<div *ngIf="utilisateurResponse.totalPages && utilisateurResponse.totalPages > 1" class="mt-3 d-flex justify-content-center align-items-center">
  <app-pagination
    [page]="page"
    [pages]="pages"
    [totalPages]="utilisateurResponse.totalPages"
    (goToPageEvent)="goToPage($event)"
  ></app-pagination>
</div>
