<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Les fournisseurs</h1>
  <div class="d-flex justity-content-center align-items-center">
    <app-bouttons-action (clickEvent)="nouveauFournisseur()"></app-bouttons-action>
  </div>
</div>

<div class="page-content">
  <app-ligne-fournisseur
    *ngFor="let fournisseur of fournisseurResponse.content"
    [fournisseur]="fournisseur"
    (delete)="onDelete($event)"
    (details)="onDetails($event)"
    (edit)="onEdit($event)"
  ></app-ligne-fournisseur>
</div>

<div *ngIf="fournisseurResponse.totalPages && fournisseurResponse.totalPages > 1" class="mt-3 d-flex justify-content-center align-items-center">
  <app-pagination
    [page]="page"
    [pages]="pages"
    [totalPages]="fournisseurResponse.totalPages"
    (goToPageEvent)="goToPage($event)"
  ></app-pagination>
</div>
