<div class="card">
  <div class="card-body">
    <div class="page-header">
      <div class="row">
        <div class="col-md-7">
          <h1 class="h3">Liste des fournisseurs</h1>
        </div>
        <div class="col-md-5">
          <app-bouttons-action
            (clickEvent)="nouveauFournisseur()"
          ></app-bouttons-action>
        </div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-12">
        <app-pagination
          [page]="page"
          [pages]="pages"
          [totalPages]="fournisseurResponse.totalPages"
          (goToPageEvent)="goToPage($event)"
        ></app-pagination>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 mb-1"
        *ngFor="let fournisseur of fournisseurResponse.content"
      >
        <app-ligne-fournisseur
          [fournisseur]="fournisseur"
          (delete)="onDelete($event)"
          (details)="onDetails($event)"
          (edit)="onEdit($event)"
        ></app-ligne-fournisseur>
      </div>
    </div>
  </div>
</div>
